@model HOTEISMVC.Models.Fotos

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Fotos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div hidden="hidden" class="form-group">
                <label asp-for="Id_Hotel" class="control-label"></label>
                <select asp-for="Id_Hotel" class ="form-control" asp-items="ViewBag.Id_Hotel"></select>
            </div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Img" class="control-label"></label>
                
                <input type="file" accept=".jpg, .jpeg,.png" name="file1" id = "file1" />
                <span asp-validation-for="Img" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />          
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
